[project]
	description = Liberating Web Analytics. Please 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PatLasswell
[access "refs/for/refs/*"]
	read = group user/PatLasswell
	push = group user/PatLasswell
	label-Code-Review = -2..+2 group user/PatLasswell
	label-Verified = -1..+1 group user/PatLasswell
	rebase = group user/PatLasswell
	removeReviewer = group user/PatLasswell
	submit = group user/PatLasswell
[access "refs/heads/*"]
	read = group user/PatLasswell
	create = group user/PatLasswell
	push = +force group user/PatLasswell
	pushMerge = group user/PatLasswell
[access "refs/tags/*"]
	push = +force group user/PatLasswell
	pushTag = group user/PatLasswell
	pushSignedTag = group user/PatLasswell
